.*.swp
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
src/*.o
src/*.so
src/*.dll
TODO
/inst/tutorials/*cache*/
/inst/tutorials/*files*/

inst/tutorials/tutorial_distances_files/figure-latex/comparedistances-1.pdf
