*.txt
*.tex
.*.swp
.Rproj.user
.Rhistory
.RData
*.RData
inst/reproducepointestimation/*.RData
inst/reproducepointestimation/*.Rdata
inst/reproducepointestimation/*.pdf
inst/reproducepointestimation/*.png
.Ruserdata
.DS_Store
src/*.o
src/*.so
src/*.dll
TODO
inst/tutorials/*cache*/
inst/tutorials/*files*/
inst/reproduce-old/

